In [37]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [38]:
df = pd.read_csv('timeseries.csv')

In [39]:
def mean_median_plot(df,column):
  room_service_mean = df[column].mean()
  room_service_median = df[column].median()
  plt.figure(figsize = (10,7))
  sns.distplot(df[column])
  plt.axvline(room_service_mean,color='b', linestyle='--')
  plt.axvline(room_service_median,color='red',)
  plt.show()

In [40]:
df.isnull().sum()

time     0
P        0
Gb(i)    0
Gd(i)    0
Gr(i)    0
H_sun    0
T2m      0
WS10m    0
Int      0
dtype: int64

In [41]:
# Select only numeric columns for calculating the mean
numeric_columns = df.select_dtypes(include=['number']).columns

# Fill missing values only for numeric columns with their respective mean
df[numeric_columns] = df[numeric_columns].fillna(df[numeric_columns].mean())

In [42]:
df.drop(["Int"],axis = 1,inplace=True)

In [43]:
df['time'] = pd.to_datetime(df['time'], format='%Y%m%d:%H%M')

In [44]:
df.set_index('time', inplace=True)

In [45]:
# Check column names in the DataFrame
print(df.columns)

Index(['P', 'Gb(i)', 'Gd(i)', 'Gr(i)', 'H_sun', 'T2m', 'WS10m'], dtype='object')

In [47]:
daily_data = df[['P', 'Gb(i)', 'Gd(i)', 'Gr(i)', 'H_sun', 'T2m', 'WS10m']].resample('D').mean()


daily_data.reset_index(inplace=True)


daily_data['time'] = daily_data['time'].dt.date

In [48]:
daily_data

,time,P,Gb(i),Gd(i),Gr(i),H_sun,T2m,WS10m
0,2014-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,22.680000,1.380000
1,2015-01-01,116.412500,70.378333,86.086667,0.483750,15.396250,25.336250,2.053333
2,2015-01-02,209.844167,198.838333,78.765417,0.803333,15.422083,25.612917,2.629583
3,2015-01-03,197.027917,174.022500,88.432083,0.769583,15.448333,25.226250,1.760833
4,2015-01-04,203.748333,191.975000,80.451667,0.793750,15.477917,25.299583,2.025000
...,...,...,...,...,...,...,...,...
727,2016-12-27,206.542083,191.775000,75.880833,0.777917,15.300417,25.687500,4.914583
728,2016-12-28,187.202083,147.634583,94.829583,0.718750,15.314583,25.484583,4.659583
729,2016-12-29,191.040000,152.498333,94.136250,0.728750,15.330417,24.763333,4.277083
730,2016-12-30,201.463750,183.035000,79.759167,0.768750,15.347917,24.692500,3.658333
731,2016-12-31,212.838261,195.143913,82.471304,0.808261,16.036087,24.738261,3.376957

In [49]:
daily_data.to_csv("scaled_average_daily_data.csv")